/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background {
    -fx-background-color: #1d1d1d;
}

.button {
     
   
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: black;
   
}
.button:pressed{
   
   
   -fx-background-color: #cfd4da;
   
}

.Anchorpane{
   -fx-background-color:#84b8ed;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused{
    -fx-border-color: black, black;
    -fx-border-width: 3, 3;
    -fx-border-style: solid, segments(1, 1);
}